* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
:root { font-family: 'Inter var', sans-serif; }
}
:root {
    --text-primary-color: #FCF7FF;
    --text-secondary-color: #37236D;
    --text-detail-color: #574280;
    --done-color: #55FBDC;
    --disabled-text-color: #877a9d;
    --disabled-bg-color: 827596;
}
body, input, button, textarea {
    font-family: 'Inter var', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #917dc3 0%, #422b7e 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
}


/* ---- LEMBRETES MENSAIS ---- */
header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: var(--text-primary-color);
    font-weight: 600;
    word-spacing: 5px;
    font-size: 2.625rem;
    user-select: none;
}
button {
    cursor: pointer;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
    width: 600px;
    height: 220px;
    border-radius: 25px;
    background: #5E4996;
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
    border: 0.5px solid;
    border-color: #6446b8;
}

/* BOTÃO DE PASSAR OS MESES */
.months-btn {
    display: flex;
    align-items: center;
}
.month-display {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--text-primary-color);
    background-color: #57448C;
    border: 1px solid rgba(255, 255, 255, 0.14);
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1px;
    user-select: none;
}
.previous-btn {
    width: 40px;
    height: 40px;
    background: linear-gradient(98.13deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.11) 100%);
    border-radius: 15px 0px 0px 15px;
    transition: 0.5s;
}
.previous-btn:hover {
    background: linear-gradient(98.13deg, rgba(255, 255, 255, 0.411) 0%, rgba(255, 255, 255, 0.2) 100%);
    transition: 0.5s;
}
.next-btn {
    width: 40px;
    height: 40px;
    background: linear-gradient(98.13deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.11) 100%);
    border-radius: 0px 15px 15px 0px;
    transition: 0.5s;
}
.next-btn:hover {
    background: linear-gradient(98.13deg, rgba(255, 255, 255, 0.411) 0%, rgba(255, 255, 255, 0.2) 100%);
    transition: 0.5s;
}

/* ADICIONAR LEMBRETE */
.add-reminder {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 280px;
    height: 40px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-secondary-color);
    background: rgba(255, 246, 255, 0.85);
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    border: 0.5px solid;
    border-color: #7e5ddb;
}
.add-reminder:hover {
    background-color: white;
    color: #7a55e1;
    transition: 0.5s;
}
.add-reminder img {
    margin-left: 5px;
}
.add-reminder p {
    margin-left: 35px;
}



/* ----- CARDS DOS LEMBRETES ----- */
.reminder-card-todo,
.reminder-card-completed,
.reminder-card-disabled,
.reminder-card-none {
    width: 600px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(98.13deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.11) 100%);
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 15px;
    transition: 1s;
    border: 1px solid;
    border-color: #6446b8;
}
.reminder-card-todo::before,
.reminder-card-completed::before,
.reminder-card-disabled::before {
    content: '';
    width: 55px;
    height: 100%;
    margin-right: 15px;
    background: rgba(85, 251, 220, 0.75);
    border-radius: 20px 0px 0px 20px;
}
.reminder-status {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;
    margin-bottom: 10px;
    margin-top: -5px;
}
.reminder-btn {
    background: none;
    display: flex;
}

/* CARD VAZIO */
.reminder-card-none p {
    padding-left: 20px;
    color: var(--text-secondary-color);
    font-size: 1.125rem;
    font-weight: 500;
}

/* CARD ATIVO */
.reminder-card-todo {
    border-color: #cdc8d0be;
}
.reminder-card-todo .reminder-status {
    color: #ffffffbb;
}
.reminder-card-todo::before {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.89) 0%, rgba(254, 252, 255, 0.563623) 49.08%, rgba(252, 247, 255, 0) 100%);
}
.text-todo, .text-completed {
    display: flex;
    gap: 15px;
    color: var(--text-primary-color);
    font-size: 1.125rem;
    font-weight: 500;
}
.icon-todo {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 20px;
}
.icon-todo img {
    transition: 0.5s;
}
.icon-todo img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/* CARD COMPLETO */
.reminder-card-completed {
    border-color: #3eb59fbf;
}
.reminder-card-completed::before {
    background: linear-gradient(90deg, rgba(85, 251, 220, 0.89) 0%, rgba(85, 251, 220, 0.563623) 47%, rgba(255, 255, 255, 0) 100%);
}
.reminder-card-completed .reminder-status {
    color: #88dfcfdc;
}
.icon-completed {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}
.icon-completed img {
    transition: 0.5s;
}
.icon-completed img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* CARD DESATIVADO */
.reminder-card-disabled {
    border-color: #494355;
    background: linear-gradient(98.13deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.055) 100%);
}
.reminder-card-disabled::before {
    background: linear-gradient(90deg, rgba(99, 88, 115, 0.89) 0%, rgba(103, 94, 118, 0.2848) 52.21%, rgba(171, 171, 171, 0) 100%);
}
.text-disabled {
    display: flex;
    gap: 15px;
    color: var(--disabled-text-color);
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: line-through;
    user-select: none;
}
.reminder-status-disabled {
    color: var(--disabled-text-color);
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;
    margin-bottom: 10px;
    margin-top: -5px;
}
.icon-disabled {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}
.icon-disabled img {
    transition: 0.5s;
}
.icon-disabled img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



/* ----- MODAL ------ */
.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    height: 410px;
    width: 433px;
    background: #5E4996;
    border-radius: 20px;
    border: 0.5px solid;
    border-color: #6446b8;
    overflow: auto;
    z-index: 2;
}
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.modal-header {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    margin-bottom: 60px;
}
.modal-header h2 {
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 1.75rem;
    user-select: none;
}
.close-modal {
    background: none;    
    display: flex;
    align-items: center;
}
.close-modal img {
    transition: 0.5s;
}
.close-modal img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
.modal label {
    color: var(--text-primary-color);
    font-size: 1.15rem;
    padding-left: 2px;
    font-weight: 400;
    margin-bottom: 5px;
}
.modal input {
    background: #E4DAEB;
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}
.save-time-text {
    margin-bottom: 30px;
    height: 40px;
    width: 110px;
    transition: 0.5s;
}
.save-time-text:focus {
    transition: 0.5s;
    background-color: white;
}
.save-text {
    height: 40px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.save-text:focus {
    transition: 0.5s;
    background-color: white;
}
.save {
    color: var(--text-secondary-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
    width: 170px;
    height: 40px;
    background: rgba(255, 246, 255, 0.85);
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.5s;
}
.save:hover {
    background-color: white;
    color: #B648EA;
    transition: 0.5s;
}